[submodule "FoodLog"]
	path = FoodLog
	url = git@github.com:Ygnas/FoodLog.git
	branch = main
[submodule "FoodLog-Flutter"]
	path = FoodLog-Flutter
	url = git@github.com:Ygnas/FoodLog-Flutter.git
	branch = main